@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
.bg-color-primary{
  background-color: var(--color-primary);
}
.bg-color-secondary{
  background-color: var(--color-secondary);
}
.bg-color-tertiary{
  background-color: var(--color-tertiary);
}
.bg-color-quatern치rio{
  background-color: var(--color-quatern치rio);
}
.bg-color-quinary{
  background-color: var(--color-quinary);
}
.text-color-primary{
  color: var(--color-primary);
}
.text-color-secondary{
  color: var(--color-secondary);
}
.text-color-tertiary{
  color: var(--color-tertiary);
}
.text-color-quatern치rio{
  color: var(--color-quatern치rio);
}
.text-color-quinary{
  color: var(--color-quinary);
}
.text-center {
  text-align: center;
}
.text-alert{
  color: var(--color-text-alert-block);
}

input {
  width: 100%;
  min-height: 30px;
  border-radius: 5px;
  border: 0.3px solid grey;
  padding: 5px 10px;
}

input:focus {
  border: 0.3px solid grey;
  border-radius: 5px;
}

button {
  text-align: center;
  width: 90%;
}

a,
.blue {
  text-decoration: none;
  color: var(--color-link-color);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-shadow: hsl(197, 100%, 37%) 1px 0 10px;
  }

  button:hover {
    background-color: var(--color-secundario);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  input {
    min-width: 300px;
  }

  #app {
    display: grid;
    grid-template-columns: 0fr 0fr;
    padding: 0 2rem;
  }
}